.mini-navbar #dnn_Side_Menu {
    display: none;
}

#dnn_Side_Menu .dnnModule {
    font-weight: 400;
    font-size: 13px;
    z-index: 902;
}

#dnn_Side_Menu .powerbiListView {
    padding: 0px 20px 0px 25px;
}

    #dnn_Side_Menu .powerbiListView li {
        list-style: none;
    }

        #dnn_Side_Menu .powerbiListView li a {
            color: #323130;
        }


.powerbiListView h4 {
    text-transform: uppercase;
}

.powerbiListView li.normal {
    font-style: normal;
    cursor: pointer;
    padding: 5px 20px 5px 10px;
    border-left: 4px solid transparent;
}

    .powerbiListView li.normal.active {
        border-left: 4px solid #f2c811;
        transition: all 0.4s;
        background-color: #FFFFFF;
    }

.powerbiListView li.empty {
    font-style: italic;
    cursor: auto;
    padding: 5px 20px 5px 10px;
}

.powerbiListView .workspacesSection select.workspace {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 10px;
    border: none;
    padding-left: 0px;
    margin-left: -4px;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    width: 100%;
}

    .powerbiListView .workspacesSection select.workspace option {
        outline: none;
        border: none;
    }

.powerbiListView .dashboardsSection.workspace, .powerbiListView .reportsSection.workspace {
    margin-left: 10px;
}

.permission {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.permission-allow {
    background-image: url(/icons/Sigma/Grant_16X16_Standard.png);
}

.permission-deny {
    background-image: url(/icons/Sigma/Deny_16X16_Standard.png);
}

.permission-delete {
    background-image: url(/icons/Sigma/Delete_16x16_PermissionGrid.png);
}

#ListViewSettings {
    margin: auto;
    width: 750px;
}

.settings-reportlist {
    float: left;
    width: 40%;
    height: 400px;
    overflow: auto;
}

.settings-reportsecurity {
    float: left;
    width: 60%;
    height: 400px;
    overflow: auto;
    margin-bottom: 10px;
}

.settings-reportlist h3 {
    font-size: 18px;
    letter-spacing: normal;
    font-weight: normal;
}

.settings-reportlist ul {
    margin-left: 0;
}

.select2-selection.select2-selection--single {
    width: 275px;
}

#add-user {
    min-width: 50px;
}

.settings-reportsecurity .dnnPermissionsGrid {
    width: 400px;
    border-collapse: collapse;
}

.settings-reportsecurity .permissionHeader:first-child {
    width: 150px;
}

.settings-reportsecurity .dnnPermissionsGrid .dnnGridItem:nth-child(even) {
    background-color: #F2F2F2;
}

#permissions-footer {
    float: right;
    margin-right: 45px;
}

.roles-grid {
    margin-top: 10px;
}

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

    .zui-table thead th {
        background-color: #DDEFEF;
        border: solid 1px #DDEEEE;
        color: #336B6B;
        padding: 10px;
        text-align: left;
        text-shadow: 1px 1px 1px #fff;
    }

    .zui-table tbody td {
        border: solid 1px #DDEEEE;
        color: #333;
        padding: 10px;
        text-shadow: 1px 1px 1px #fff;
    }

#PowerBISettings .number {
    width: 100px;
}

#ListViewGroupSettings label {
    width: 200px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

#PowerBISettings .dnnFormItem label + input {
    margin-left: 0px;
}

#PowerBISettings .dnnFormItem input[type="checkbox"] + span {
    margin-left: 0px;
}

.powerbiContentView .pbitoolbar {
    display: block;
    z-index: 99;
    width: 100%;
    background-color: #f3f2f0;
    height: 41px;
    vertical-align: middle;
    text-align: right;
}

    .powerbiContentView .pbitoolbar .print {
        background-image: url('../images/print.png');
        width: 16px;
        height: 100%;
        display: inline-block;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position-y: center;
        margin-right: 10px;
        margin-left: 10px;
    }

    .powerbiContentView .pbitoolbar .refresh {
        background-image: url('../images/refresh.png');
        width: 16px;
        height: 100%;
        display: inline-block;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position-y: center;
        margin-right: 10px;
        margin-left: 10px;
    }

    .powerbiContentView .pbitoolbar .reload {
        background-image: url('../images/reload.png');
        width: 16px;
        height: 100%;
        display: inline-block;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position-y: center;
        margin-right: 10px;
        margin-left: 10px;
    }

    .powerbiContentView .pbitoolbar .fullscreen {
        background-image: url('../images/fullscreen.png');
        width: 16px;
        height: 100%;
        display: inline-block;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position-y: center;
        margin-right: 10px;
        margin-left: 10px;
    }

    .powerbiContentView .pbitoolbar .bookmarks {
        background-image: url('../images/bookmark.png');
        width: 16px;
        height: 100%;
        display: inline-block;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position-y: center;
        margin-right: 10px;
        margin-left: 10px;
    }

    .createBookmarks {
        background-image: url('../images/addbookmark.png');
        width: 16px;
        display: inline-block !important;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position-y: center;
        margin-right: 10px;
        margin-left: 10px;
    }

.deletebookmark {
    background-image: url('../images/delete.png');
    width: 16px;
    display: inline-block !important;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-right: 10px;
    margin-left: 10px;
}

        .powerbiContentView .pbitoolbar .refresh:hover,
        .powerbiContentView .pbitoolbar .print:hover {
            background-color: #f4f4f4;
        }

.fc-header-toolbar {
    display: none;
}

.drop {
    margin: 15px;
    max-width: 10%;
}

.pages {
    display: flex;
    justify-content: center;
}

.sidenav {
    height: 91%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 41px;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    padding-top: 27px;
    border-right: solid 1px #C8C8C8
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/*Bookmarks*/

.showcaseRadioContainer {
    display: block;
    position: relative;
    padding-left: 26px;
    margin: 4px 0;
    cursor: pointer;
    font-weight: normal;
    height: 40px;
    padding: 8px 8px 8px 40px;
}

.navheader {
    padding-bottom: 20px;
    margin-left:30px;
    font-size: 17px;
    font-weight:bold;
}
.addbookmarks{
    margin-left: 20px;
}

#deleteBookmark {
    float: right;
    position: relative;
}