/src/.vs
/src/bin
/src/packages
/src/DotNetNuke.PowerBI/obj
/src/DotNetNuke.PowerBI/install
/src/DotNetNuke.PowerBI/*.user
/src/DotNetNuke.PowerBI/PBIEmbedded.Web/node_modules
/src/Releases
/src/DotNetNuke.PowerBI/PBIEmbedded.Web/package-lock.json
/src/DotNetNuke.PowerBI/.vs/DotNetNuke.PowerBI/v16
/src/DotNetNuke.PowerBI/.vs
/src/DotNetNuke.PowerBI.sln.DotSettings.user
/src/DotNetNuke.PowerBI.Extensibility/bin
/src/DotNetNuke.PowerBI.Extensibility/obj
*.user

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
[Dd]ist/

#Ignore Install folder
[Ii]nstall/

#Ignore build files and folders
[Rr]esources[Zz]ip/
[Ii]nstall[Pp]ackage/

#Ignore css map file
*.css.map

# Others
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs
.vs/
