@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DotNetNuke.PowerBI.Controllers.SettingsController.SettingsModel>
@using DotNetNuke.Web.Client.ClientResourceManagement
@{
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/PowerBIEmbedded/Css/module.css", 9, "DnnPageHeaderProvider");
}
@using DotNetNuke.UI.Utilities
@using DotNetNuke.Common.Utilities

<div id="PowerBISettings" class="dnnForm">
    <div class="dnnFormExpandContent"><a href="">@Dnn.LocalizeString("ExpandAll")</a></div>
    <h2 class="dnnFormSectionHead"><a href="#">Workspace Settings</a></h2>
    <fieldset id="ListViewGroupSettings">
        <div class="dnnFormItem">
            <div class="leftGroup">
                <label>Workspace</label>
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    foreach (var settingsGroup in ViewBag.Settings)
                    {
                        listItems.Add(new SelectListItem
                        {
                            Text = settingsGroup.SettingsGroupName,
                            Value = settingsGroup.SettingsGroupId
                        });

                    }
                }
                @Html.DropDownListFor(m => m.SettingsGroupId, listItems, "(Default workspace)")
            </div>
        </div>
        @{
            if (ViewBag.ContentItems != null)
            {
                <div class="dnnFormItem">
                            <div class="leftGroup">
                                <label>Content Item</label>
                                @{
                                    List<SelectListItem> contentItems = new List<SelectListItem>();
                                    foreach (var contentItem in ViewBag.ContentItems.Dashboards)
                                    {
                                        contentItems.Add(new SelectListItem
                                        {
                                            Text = "Dashboard - " + contentItem.DisplayName,
                                            Value = "D_" + contentItem.Id
                                        });
                                    }
                                    foreach (var contentItem in ViewBag.ContentItems.Reports)
                                    {
                                        contentItems.Add(new SelectListItem
                                        {
                                            Text = "Reports - " + contentItem.Name,
                                            Value = "R_" + contentItem.Id
                                        });
                                    }
                                }
                                @Html.DropDownListFor(m => m.ContentItemId, contentItems, "Choose one...")
                            </div>
                </div>
            }
        }
    </fieldset> 

</div>

<script type="text/javascript">

    jQuery(function ($) {
        var setupModule = function () {
            $('#PowerBISettings').dnnPanels();
            $('#PowerBISettings .dnnFormExpandContent a').dnnExpandAll({
                targetArea: '#PowerBISettings'
            });
        };
        setupModule();
        Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function () {
            setupModule();
        });
    });

</script>

